<a href="https://colab.research.google.com/github/codeyson/CPE-031-VDA-CPE21S4/blob/main/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

## 1. Variables and Data Types

  Python uses five standard data types:


#### Numbers

In [68]:
varNum = 123
pi = 3.14159


#### Strings

In [67]:
varString = "Hello World!"
varText = 'This is a String'



 #### Lists

In [ ]:
varList = ["abc", 123]

#### Tuples

In [ ]:
varTuple = ('abc', 123, "HELLO")


 #### Dictionaries

In [ ]:
var = 3
varDict = {'first':1, '2': '2nd', 3:var}

In [ ]:
varDict = {}
varDict['first'] = 1
varDict['2'] = '2nd'
varDict[3] = var

## 2. Arithmetic

#### Addition

In [7]:
a = 5 + 3
print (a)

8

#### Subtraction

In [ ]:
a = 5 - 3
print (a)

#### Multiplication

In [ ]:
a = 5 * 3
print (a)

#### Exponent

In [ ]:
a = 5 ** 3
print (a)

#### Division

In [ ]:
a = 5 / 3
print (a)

In [ ]:
a = 5 % 3
print (a)

In [ ]:
a = 5 // 3
print (a)

#### Increment/Decrement

In [12]:
a = 5
a += 1

print (a)

6

#### Decrement

In [11]:
a = 5
a -= 1

print (a)

4

#### String Concatenation

In [9]:
a = 'Hello ' + 'World!'

print (a)

Hello World!

#### Complex Expressions

In [10]:
a = 3 + 5 - 6 * 2 / 4

print (a)

5.0

## 3. Conditional Statements and Data Structures

#### Boolean Condition

In [13]:
x = True

if x:
  print ("var x is True")
else:
  print ("var x is False")

var x is True

#### String Conditions

In [21]:
x = "Hello World!"

if x == 'Hello World!':
  print ("var x is Hello World!")
else:
  print ("var x is not Hello World! ")

var x is Hello World!

#### Numerical Conditions

In [20]:
x = 10

if x == '10':
  print ("var x is a string")
elif x == 10:
  print ("var x is an integer")
else:
  print ("var x is non of the above")

var x is an integer

## 4. Loops

#### For Loops

In [22]:
for var in range (0, 5, 2):
  print (var)

0
2
4

#### While Loops

In [23]:
var = 0

while var < 5:
  print (var)
  var += 2

0
2
4

#### Nested Loop

In [26]:
x = 0
while x < 5:
  for y in range (0, x):
    print (y, end='')
  x += 1
  print ()

0
01
012
0123

*Note: The loop declaration ends with a colon (:) while its contents inside are indented.

## 6. Lists

  Can **contain** a number of values comprised of different datatypes.

In [46]:
pi = 3.14159
varList = [1, 2, 'A', 'B', 'Hello!', pi]
print (varList[0])

1

In [47]:
print (varList[4])

Hello!

In [48]:
varList.append ('World!')
print (varList[6])

World!

In [49]:
len (varList)

7

In [50]:
print (varList[5])

3.14159

In [51]:
varList.remove(pi)
print (varList[5])

World!

*Note: Lists starts with an index of 0. The remove () method erases the first value that matches the parameter

## 7. Dictionaries

In [53]:
var = "Hello World!"
varDict = {'first' : 123, 2 : 'abc', '3' : var, 4 : ['list', 'listb']}
print (varDict['first'])

123

In [54]:
print (varDict[2])

abc

In [55]:
print (varDict['3'])

Hello World!

In [56]:
print (varDict[4])

['list', 'listb']

In [57]:
print (varDict[4][1])

listb

In [58]:
len(varDict)

4

## 8. Generators and Comprehension

### Generators can be used to build list in the memory as objects

In [60]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 1

In [62]:
gen_num_up_to(5)

*Note: This creates an object

In [63]:
varList = gen_num_up_to(5)
print ([var for var in varList])

[0, 1, 2, 3, 4]

In [64]:
def gen_num_up_to(n):
  num = 0
  while num < n:
    yield num
    num += 2

varList = gen_num_up_to(5)
print ([var for var in varList])

[0, 2, 4]

In [66]:
varList = range (0, 5, 2)
print ([var for var in varList])

[0, 2, 4]

*Note: Python's built in range function

In [ ]:
range([start, stop, [step]])

#### Slicing

In [71]:
varList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(varList[:5])

[1, 2, 3, 4, 5]

In [72]:
print(varList[5:])

[6, 7, 8, 9, 10]

In [73]:
print(varList[:-2])

[1, 2, 3, 4, 5, 6, 7, 8]

In [74]:
print(varList[-2:])

[9, 10]

In [75]:
print(varList[2:-2])

[3, 4, 5, 6, 7, 8]

In [76]:
print(varList[2:8:2])

[3, 5, 7]

*Note:

In [ ]:
list (start:)
lsit (:end)
list (start:end)
list (start:end:step)

## 9. Functions

### Python functions use the following notation:

In [ ]:
  def function name:
          commands

In [77]:
def remainder (n, m):
  while True:
    if n - m < 0:
      return n
    else:
      n = n - m

remainder (10, 4)

2

*Note: Functions are defined with the keyword *def* before the **function name**. Similar to loops, the function definition ends with a colon (:) while its contents inside are indentted.